---

---
<footer >
    <div class="footer-content container">
        <p>&copy; 2025 All rights reserved.</p>
        <nav>
        <ul class="no-style">
           
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        </nav>
    </div>
</footer>