---

---
<div class="container">
<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">jd</a>
<div class="col-md-3">

          <a href="#">about</a>

          <a  href="#">work</a>

          <a href="#">résumé</a>
</div>
 
  </div>
</nav>
</div>