---
--- 

<section class="work">
    <h3>Curated work</h3>

    <div class="item">
        <a href="https://njready.com/">
        <div class="group">
            <div class="photo"><img src="/src/assets/images/thumb-jerseyready.jpg" /></div>
            <div class="descrip">Jersey Ready, PSEG</div>
            <div class="year">2025</div>
        </div>
        </a>
        <div class="line"></div>
    </div>
     <div class="item">
        <a href="https://bgesmartenergy.com/comeonin/index.html">
        <div class="group">
            <div class="photo"><img src="/src/assets/images/thumb-comonin.webp" /></div>
            <div class="descrip">Come On In Campaign, BGE</div>
            <div class="year">2025</div>
        </div>
        </a>
        <div class="line"></div>
    </div>
    <div class="item">
        <a href="https://bgesmartenergy.com/magazine/issue3/">
        <div class="group">
            <div class="photo"><img src="/src/assets/images/thumb-bge.webp" /></div>
            <div class="descrip">The Efficient Home, BGE</div>
            <div class="year">2022, 2023, 2024</div>
        </div>
        </a>
        <div class="line"></div>
    </div>
     <div class="item">
        <a href="https://www.hudexchange.info/programs/section-108/project-profiles/">
        <div class="group">
            <div class="photo"><img src="/src/assets/images/thumb-hud-pp.webp" /></div>
            <div class="descrip">Project Profiles, HUD</div>
            <div class="year">2024</div>
        </div>
        </a>
        <div class="line"></div>
    </div>
     <div class="item">
        <a href="https://cancercontrol.cancer.gov/overview-highlights/2024/">
        <div class="group">
            <div class="photo"><img src="/src/assets/images/thumb-dccps24.webp" /></div>
            <div class="descrip">Div of Cancer Control, National Cancer Institute</div>
            <div class="year">2024</div>
        </div>
        </a>
        <div class="line"></div>
    </div>
    <div class="item">
        <a href="https://www.icfcreative.com/2024/RISE/v7/index-v2.html">
        <div class="group">
            <div class="photo"><img src="/src/assets/images/thumb-rise.webp" /></div>
            <div class="descrip">RISE Homes</div>
            <div class="year">2024</div>
        </div>
        </a>
        <div class="line"></div>
    </div>
    <div class="item">
        <a href="https://www.icfcreative.com/2024/DTT/NIEHS/index.html">
        <div class="group">
            <div class="photo"><img src="/src/assets/images/thumb-dtt.webp" /></div>
            <div class="descrip">DTT Interactive</div>
            <div class="year">2024</div>
        </div>
        </a>
        <div class="line"></div>
    </div>
    <div class="item">
        <a href="https://www.icfcreative.com/2023/HUD/buildforfuture/index.html">
        <div class="group">
            <div class="photo"><img src="/src/assets/images/thumb-hud-info.webp" /></div>
            <div class="descrip">HUD Infographic</div>
            <div class="year">2023</div>
        </div>
        </a>
        <div class="line"></div>
    </div>
     <div class="item">
        <a href="https://cancercontrol.cancer.gov/overview-highlights/2023/">
        <div class="group">
            <div class="photo"><img src="/src/assets/images/thumb-dccps23.webp" /></div>
            <div class="descrip">Div of Cancer Control, National Cancer Institute</div>
            <div class="year">2023</div>
        </div>
        </a>
        <div class="line"></div>
    </div>


    <div class="item">
        <a href="https://brandhub.pseg.com/public/index.html">
        <div class="group">
            <div class="photo"><img src="/src/assets/images/thumb-refresh.webp" /></div>
            <div class="descrip">We hit refresh, PSEG</div>
            <div class="year">2023</div>
        </div>
        </a>
        <div class="line"></div>
    </div>
    <div class="item">
        <a href="https://accelerator.nyc/">
        <div class="group">
            <div class="photo"><img src="/src/assets/images/thumb-nyc.webp" /></div>
            <div class="descrip">NYC Accelerator, NYC</div>
            <div class="year">2022</div>
        </div></a>
        <div class="line"></div>
    </div>
</section>

<style>
    section.work{
       h3{margin-bottom: 2rem;}
        .group{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
        .item{
            
        .line{
            width: 0;
            height: 1px;
            background-color: #dbd9d9;
            margin: 0;
        }
        margin-bottom: 1rem;
        }
        margin:4rem 0;
        a{
            text-decoration: none;
            color: #000;
        }
    }
</style>